
body {
    margin: 0;
    padding: 0;
    background-image: url("../img/bg_login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

ul, li, a { 
  list-style: none;
  text-decoration: none;
}

.menu {
  display: flex;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-items: center;         
}

.cabecalho a {
  font-size: 40px;
  padding: 30px 0 0 60px;
}

.menu a {
  font-size: 32px;
}

.cabecalho a, .menu a {
  color: #FDF7F7;
  font-family: "Roboto", Arial, sans-serif;
}

.menu li {
  padding: 30px 60px 0 0;
}
#formu {
  padding: 150px 5px 0 0;
}

form .campo { 
  display: flex;
  flex-direction: column;
  padding: 30px 420px 30px 680px;   
}

.campo label {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 32px;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.campo input {
  border: 0px;
  width: 420px;
  height: 32px;
  border-radius: 6px;    
}

.button {
  padding: 30px 420px 30px 680px;
}

.button input {
  width: 420px;
  height: 48px;
  border: 0;
  background: #0C77E4;
  border-radius: 12px;
  font-size: 22px;
  color: #FFFFFF;
}